html{
    margin: 0;
    padding: 0;
}

.main-container-project{
    border: 1px solid black;
    border-radius: 10px;
    width: 25vw;
    min-width: 230px;
    max-width: 250px;
    height: 45vh;
    max-height: 300px;
    margin: 20px 20px;
    /* padding: 10px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
}

.main-container-project:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}


.project-name{
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
}

.project-description{
    flex: 1;
    margin: 4px 10px;
}

.btns{
    display: flex;
    width: 100%;
}

.project-btns{
    padding: 10px 10px;
    background-color: white;
    border-radius: 1px;
    flex: 1 1;
    cursor: pointer;
    border: none;
    /* border-radius: 10px; */
    border-top: 1px solid black;
}

.project-btns:hover{
    transition: 0.17s;
    background-color: black;
    color: white;
}

.project-btn1{
    /* margin-right: 10px  ; */
    border-radius: 0 0 0 10px; 
}

.project-btn2{
    border-radius: 0 0 10px 0; 
    /* margin-left: 10px  ; */
}

.card{
    box-shadow: 3px 2px 0px 0 black;
}

.socialhandles-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 50px 0;
}

.p1{
    font-size: 30px;
}

.p2{
    font-size: 15px ;
}

.p3{
    margin: 15px 0 5px 0;
    font-size: 20px
}

.home-mode-dark .main-container-project{
    border-color: #C9D1D9;
    background-color: #1c1b1bd4;
}

.home-mode-dark .card{
    box-shadow: 3px 2px 0px 0 #C9D1D9;

}

.home-mode-dark .project-btns{
    background-color: black;
    color: #C9D1D9;
    border-color: #C9D1D9;
}

.home-mode-dark .project-btns:hover{
    background-color: #C9D1D9;
    color: black;
    
}