.container-contact{
    height: 100%;
    padding: 0 60px;
    flex: 1;
    /* display: flex; */
}

.image-container-contact img{
    width: 400px;
    height: 400px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0
}


.contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:500px;
}



.input-box{
    border: 2px solid darkgrey;
    margin: 3px 0;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    font-size: large;
    font-family: system-ui;
}

.input-box::placeholder{
    color: grey;
}

form textarea{
    padding: 5px 10px;
    border: 2px solid darkgrey;
    margin: 3px 0;
    border-radius: 5px;
    font-size: large;
    font-family: system-ui;
}

.form-container button{
    justify-self: start;
}
.send-btn{
    width: 80px;
    height: 35px;
    margin: 10px auto;
    cursor: pointer;
    border: 2px solid black;
    background-color: rgba(119, 116, 116, 0.795);
    border-radius: 5px;
}

.send-btn-dark{
    background-color: black;
    color: white;
}

.send-btn:hover{
    transition: 0.17s;
    background-color: black;
    color: white;
}

.send-btn-dark:hover{
    transition: 0.17s;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px){
    .image-container-contact{
        /* visibility: collapse; */
        display: none;
    }
}