.social-handles-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-handles-container div{
    margin: 10px 30px;
    cursor: pointer;
}

.social-handles-container svg:hover{
    transition: all 0.17s;
    transform: scale(1.2);
}