.container-footer{
    background-color: rgb(203 209 208 / 54%);
    text-align: center;
    font-size: 11px;
    font-family: 'Montserrat';
    height: 16px;
}

.footer-mode-dark{
    background-color: black;
    color: white;
}