.container{
    display: flex;
    background-color: rgb(203 209 208);
    width: 100vw;                                   
    /* height: 100px; */
}

.navbar-first{
    flex: 1;
    font-family: 'Abril Fatface';
    font-size: 34px;
    padding-left: 21px;
    cursor: pointer;
}

.navbar-middle{
    display: flex;
    /* width: fit-content; */
    font-size: large;
    flex: 5;
    margin: 0;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    padding: 0;
}

.navbar-last{
    flex: 7;
    display : flex;
    justify-content: flex-end;
}

.navbar-middle li{
    flex: 1;
    margin: 0px;
    padding: 0px 10px;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    /* color: white; */
    /* text-decoration: none; */
}

.navbar-middle a{
    text-decoration: none;
    color: black;
    /* font-size: small; */
}

.navbar-middle li:hover{
    background-color: rgba(203, 209, 208, 0.781); 
    /* font-weight: bold; */
}

.download-btn{
    text-align: end;
    margin: auto 25px;
    text-decoration: underline;
    cursor: pointer;
}

.download-btn a{
    color: black;
}


.darkmode-icon{
    width: 40px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
}

.darkmode-icon svg{
    position: absolute;
    top: 10px;
    right: 25px;
}

.burger-container{
    visibility: hidden;
    position: relative;
    /* top: 27px;
    right: 50px; */
    /* display: none; */
    width: 80px;
    height: 50px;
}

.burger{
    /* display: none; */
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.line{
    width: 80%;
    height: 2px;
    background-color: black;
    margin: 5px 3px;
    transition: transform 1s;   
}

.cross{

}

.cross .line1{
    transform: rotate(45deg) translate(10px, 10px);
    /* transition: transform 1s; */
}
.cross .line2{
    transform: scaleX(0);
    /* width: 0; */
}
.cross .line3{
    transform: rotate(135deg);
    /* transition: transform 1s;/ */
}



.navbar-mode-dark{
    background-color: black;
    color: #C9D1D9;
}

.navbar-mode-dark .navbar-middle li a{
    color: #C9D1D9;
} 

.navbar-mode-dark .navbar-middle li:hover{
    background-color: #333;
}

.navbar-mode-dark .download-btn a{
    color: #C9D1D9;
}

.navbar-mode-dark .line{
    background-color: #C9D1D9;
}
.border{
    border: 1px solid black;
}

.flex-container{
    display : flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    
    .navbar-middle, .darkmode-icon, .download-btn{
    /* .darkmode-icon, .download-btn{ */
        visibility: hidden;    
        position: absolute;    
    }

    .navbar-middle{
        height: fit-content;
        width: 100vw;
        flex-direction: column;
        background-color: rgb(203 209 208);
        left: 0px;
        top: 0px;
        transition: transform 1s;
        /* transform: translateY(50px); */
    }
    
    .navbar-mode-dark .navbar-middle{
        background-color: black;

    }
    
    .transform{
        transform: translateY(50px);
    }
    .navbar-middle li{
        padding: 10px 0;

    }

    .burger-container, .burger{
        visibility: visible;
    }
    
    .download-btn{
        top: 176px;
    position: fixed;
    width: 100vw;
    background-color: black;
    padding: 7px 0;
    left: 0;
    text-align: center;
    padding-bottom: 35px;
    text-decoration: underline;
    margin: 0;
    transition: transform 1s;
    }

    .burger-container{

    }
  }