.main-container-skills{
    /* height: 180vh; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.introduction-box{
    /* border: 1px solid black; */
    display: flex;
    min-height: 90vh;
    /* flex: 5; */
}

.text-introduction-box{
    flex: 3;
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0 70px;
    box-sizing: border-box;
}


.text-introduction-box p,.text-introduction-box h2,.text-introduction-box ul li{
    font-style: 'Mukta';
    font-size: 22px;  
    /* text-align: left; */
}

.p2{
    margin: 0 0;
}

.text-introduction-box h2{
    font-size: 40px;
    margin: 0 0 10px 0;
}

.image-introduction-box{
    flex: 2;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */
}

.image-introduction-box img{
    width: 310px;
    height: 310px;
    scale: 1.2;
}

hr{
    width: 90%;
    color: black;
}
.professional-skills-box{
    /* border: 1px solid black; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 70%;
}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    /* background-image: url('../../../assets/javascript-logo.png'); */
    background-position: center;
    background-size: cover;
    padding: 5px;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-mode-dark .skill{
    border: 1px solid white;
}

@media only screen and (max-width: 600px){

    body{
    }

    .text-introduction-box{
        padding: 0 25px;
    }
    
    .text-introduction-box h2{
        margin-top: 15px;
    }

    .introduction-box{
        flex-direction: column;
    }

    .image-introduction-box{
        justify-content: center;
    }

    .professional-skills-box{
        width: 100%;
    }

    .skill{
        margin: 10px;
    }
}