html{
    padding: 0;
    margin: 0;
    /* width: 100vw; */
    width: fit-content;
    height: 100vh;
    /* border: 1px solid yellow; */
}

body{
    margin: 0;
    /* height: 100%; */
}

/* .router{
    height: 100vh;   /*changes from vh */

.container-app{
    /* overflow-x: hidden; */
    display: flex;
    height: 100vh;   /*changes from vh */
    width: 100%;
    flex-direction: column;
    /* border: 1px solid red; */
}

/* .container-app :nth-child(2){
    min-height: 90vh;
    flex: 1;
} */
Footer{
    /* justify-items: flex-end; */
    align-self: flex-end;
}




/* .text-light{
}

.text-dark{
} */

/* .mode-light{
    color: black;
    background-color: white;
}

.mode-dark{
    color: white;
    background-color: #333;
} */