html{
    padding: 0;
    margin: 0;
}

/* body{
    width: 100vw;
    height: 100%;
} */

.container-app{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* border: 1px solid red; */
}

/* .home{
    flex: 1;
} */
